* {
    box-sizing: border-box;
    margin: 0;
  }
 body{
    display:flex;
    flex-direction: column;
    background-color: lightgrey;
 }
 h1{
     align-self: center;
     font-size: 48px;;
 }
 p{
     font-size: 20px;;
 }
 .grid-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-gap:15px;
     grid-template-rows: 100px;
 }

 .city{
     grid-column: 1;
     grid-row: 1;
 }
 #city{
     display: flex;
     /* justify-content: center; */
     align-self: center;
 }
 .temp{
     grid-column: 2;
     grid-row: 1;
 }
 #temp{
    display: flex;
    /* justify-content: center; */
    align-self: center;
 }
 .feels{
     grid-column: 3;
     grid-row: 1;
 }
 #feels{
    display: flex;
    /* justify-content: center; */
    align-self: center;
 }
 .weather{
     grid-column: 4;
     grid-row: 1;
 }
 #weather{
    display: flex;
    /* justify-content: center; */
    align-self: center;
 }
 form{
     align-self: center;
 } 